.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.modal_opened {
  visibility: visible;
}


.modal__content {
  background-color: #fff;
  position: relative;
  padding: 34px 36px 36px 36px;
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
}

.modal__close {  
  border: none;
  background: none;
}

.modal__close-btn{
  position: absolute;  
  width: 40px;
  height: 40px;   
  top:-46px;
  right:-41px;
}
.modal__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%; 
  color: #1a1b22;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label {
  font-family: "inter",Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2f71e5;
  margin-top: 22px;
  display: block;
  
}

.modal__input {
  font-family: "inter",Arial, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  margin-top: 9px;
  margin-bottom: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 5px;
}

.modal__input_username{
  margin-bottom: 39px;
}


.modal__input_signin_password{
  margin-bottom: 39px;
}


.modal__login-text {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000080;
  margin-left: 12px;
}

.modal__button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.modal__signin {
  width: 358px;
  height: 64px;
  border-radius: 20%;
  border: none;
  background-color: transparent;
 
}

.modal_submit {
  font-family: "inter",Arial, sans-serif;
  outline: none;
  border: none;
  background: none; 
  cursor: pointer; 
 
}


.error-message{
  margin-top: 5px;
  color: #FF0000;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  min-height: 14px; 
  display: block;
}

.error-message_signup{
  margin-bottom: 5px;
}


.modal__submit_without-border{
  margin-top: 16px;
}

.modal__submit.modal__submit--filled {  
  width: 360px;
  height: 64px;
  background-color: #2f71e5;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color:#ffffff;
 
 
}

.modal__submit--empty {
  width: 360px;
  height: 64px;
  background-color: #e6e8eb;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color:#b6bcbf;
 
}


.error-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100;
  color:#ff0000;
}



@media screen and (max-width: 768px) {
.modal__content{
  max-width: 430px;
  padding:34px 36px 28px 36px;
}

}


@media screen and (max-width: 320px) {

  .modal__content {   
    padding: 16px 17px 120px 17px;   
  }

  
.modal__label {
  margin-top:14px ;
 

}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  position:absolute;
  top:-320px;
  z-index: 999;

}

.modal__close-btn{
  top:20px;
  left:13px; 
}
}