.modal__content--register {
  display: flex;
  flex-direction: column;
  justify-content: left;
  z-index: 10;
  height: 182px;
}

.modal__title--register {
  font-family: "roboto", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  color: black;
  margin-bottom: 14px;
}

.modal__register_btn {
  font-family: "inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: none;
  width: 66px;
  padding: 5px 0;
  cursor: pointer;
  text-align: left;
  display: inline-block;
  background-color: transparent;
}
