.main{
    padding:80px 104px;
}

.main__title{
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-align: left;
    margin-bottom: 64px;
}

.main__cards-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap:20px;
    list-style-type: none;
}