
.navigation__nav {
    display: flex;
    margin-left: auto;
    gap: 24px;
  }
  
  .navigation__home-btn {
    background: none;
    font-size: 20px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 700;
  }
  
  .navigation__signIn-btn {
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    border: none;
  }
  
  .navigation__loggedIn-control {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navigation__savedArticle-nav {
    color: #b6bcbf;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    background-color: transparent;
    border: none;
    margin-left: 56px;
    margin-right: 56px;
  }
  
  .navigation__username{
    display: flex;
    width: 112px;
    height: 48px;
    padding:12px 19px;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    border : 1px solid #d1d2d6;
    color: #b6bcbf;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
  
  }
  
  .navigation__logout{
    width: 24px;
    height: 24px;
    width: 100%;   
    background-color: transparent;    
   margin-left: 12px;
   color: #b6bcbf;
  }