*,
*::before,
*::after {
  box-sizing: border-box;
}

.searchForm__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 80px 416px;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 10, 10, 0.6);
}

.searchForm__title {
  font-family: "roboto-slab", Arial, sans-serif;
  color: white;
  max-width: 608px;
  max-height: 128px;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  margin: 0 0 32px 0;
  padding:0;  
  text-align: left;
}

.searchForm__description {
  color: white;
  max-width: 608px;
  max-height: 24px;
  font-weight: 400;
  font-size: 18px; 
  line-height: 24px;
  margin: 0 0 88px 0;
 padding:0;
  text-align: left;
}

.searchForm__controls {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchForm__label {
  position: relative;
  display: flex;
}

input {
  padding-left: 20px;
}

.searchForm__input {
  max-width: 100%;
  width: 100%;
  background-color: white;
  border: none;
  width: 608px;
  height: 64px;
  border-radius: 50px;
  padding: 0 160px 0 20px;
}

.searchForm__btn {
  max-width: 100%;
  width: 100%;
  background-color: #2f71e5;
  width: 168px;
  height: 64px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  padding: 0 24px;
  color: white;
  border-radius: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  margin-left: -159px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .searchForm__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:38px 156px 48px 160px;
    max-height: 334px;
  }

  .searchForm__title {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 16px 0;    
  }

  .searchForm__description {
    font-family: "roboto_400", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 48px;
    line-height: 24px;
    margin: 0 0 48px 0;
    justify-content: center;
    align-items: center;
  }

  .searchForm_controls {
    flex-direction: column;
  }

  .searchForm__input {
    width: 448px;
    height: 56px;
  }

  .searchForm__btn {
    width: 160px;
    top: 0px;
    left: 100px;
    height: 56px;
  }
}

@media screen and (max-width: 320px) {
  .searchForm__container {
    padding: 30px 16px 0 16px;
    justify-content: center;
    align-items: center;
  }

  .searchForm__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0;
  }

  .searchForm__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .searchForm__controls {
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }

  .searchForm__input {
    width: 320px;
    height: 56px;
  }

  .searchForm__btn {
    width: 320px;
    height: 56px;
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }
}
