.header__container {

  width: 100%;   
  height: 576px;
  background-image: url("../../images/background.jpg");
  background-color: rgba(247, 242, 242, 0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__container.no-background {
  background-image: none;
  height: 80px;
}

.header {
  
  width: 100%;   
  height: 80px;
  display: flex;
  align-items: center;
  padding: 20px 80px;
  max-width: 100%;
  justify-content: space-between;
  background-color: rgba(9, 7, 7, 0.4);
  border-bottom: 1px solid #c4c4c4;
}

.header.no-background {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .header__container {
    max-width: 768px;
    width: 100%;
  }
  .header {
    padding: 20px 30px;
    max-width: 100%;
  }
  .header__logo {
    margin-right: 10px;    
   } 
   
}

@media screen and (max-width: 320px) {
  .header__container {
    max-width: 320px;
    width: 100%;
  }

  .header {
    display: flex;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
  }
}
