.footer {
  padding: 30px 60px 26px 60px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__paragrph {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}


.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .footer__links-item-container {
  display: flex;
  gap: 15px;
} */

.footer__links-item-container {
  display: flex;
  justify-content: space-between;
}

.footer__links-item-left{
  display: flex;
  flex-direction: column;
}


.footer__link-item {
  color: #1a1b22;
  margin-left: 40px;
}


@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .footer {
    padding:20px 16px;
  }
  .footer__container{
    flex-direction: column-reverse;
    align-items: flex-start;
    
  }

  .footer__paragraph{
    padding:0 16px;
  }
  .footer__links-item-container{
    display: flex;
    justify-content: space-between;
  }
  
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}
