.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card__image {
    width: 400px;
    height: 272px;  
    width: 100%;  
    border-radius: 20px;
    border: none;
}

.card__save-btn{
    background-image: url('../../images/savebtn.svg');
    width: 40px;
    height: 40px;
    width: 100%;
}

.card__info {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px 20px;
}

.card__date {
    margin:0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color:#b0b8bb;
    margin-bottom: 20px;
}

.card__title {
    margin:0;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    color:#1A1B22;
    margin-bottom: 20px;
}

.card__description{
    margin:0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #1A1b22;
    margin-bottom: 20px;    
}

.card__source {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 20px;
    text-transform: uppercase;
    color:#b6bcbf;
}