.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 400px;
  height: 576px;
  border-radius: 20px;
}

.card__image-control {
  display: flex;
  width: 100%;
  position: relative;
}

.card__image {
  height: 272px;
  width: 100%;
  border: none;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}

.card__save-btn {
  border: none;
  position: absolute;
  cursor: pointer;
  top: 12px;
  right: 9px;
  background-color: transparent;
  z-index: 1;
}

.card__save-btn.saved {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.card__save-btn {
  width: 40px;
  height: 40px;
  color: #b6bcbf;
  border-radius: 5px;
}
.card__savebtn-img {
  width: 40px;
  height: 40px;
  color: #b6bcbf;
  border-radius: 5px;
}

.card__info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: left;
}

.card__date {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #b6bcbf;
  margin-bottom: 12px;
  letter-spacing: 0;
}

.card__title {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #1a1b22;
  margin-bottom: 16px;
  letter-spacing: 0;
}

.card__description {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #1a1b22;
  margin-bottom: 18px;
  letter-spacing: 0;
}

.card__source {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 20px;
  text-transform: uppercase;
  color: #b6bcbf;
}
