.or-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color:#000000;
    outline: none;
    border: none;
}

.signup-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color:#2f71e5;
    outline: none;
    border: none;
}


@media screen and (max-width: 768px) {


}


@media screen and (max-width: 320px) {


}
